Babel==2.10.3
certifi==2022.6.15.1
chardet==3.0.4
delorean==1.0.0
humanize==4.3.0
idna==2.8
parse==1.14.0
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
requests==2.22.0
six==1.16.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.25.11